<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Date initial:</b>
  <%= @project.date_initial %>
</p>

<p>
  <b>Date end:</b>
  <%= @project.date_end %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
